.sidebar-toggle {
  text-decoration: none;
  color: nb-theme(text-hint-color);
  nb-icon {
    font-size: 1.75rem;
  }
}

.menu-sidebar {
  text-decoration: none;
  align-content: flex-start;
  padding: 0px;

}
  